[Unit]
Description=request-bot


[Service]
Type=simple
WorkingDirectory=/home/ubuntu/git/requester
ExecStart=/home/ubuntu/git/requester/request-bot.sh
Restart=on-failure

[Install]
WantedBy=default.target
